<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - QuorraWeb</title>

    <environment include="Development">
        <link href="~/node_modules/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet" />
        <link href="~/node_modules/animate.css/animate.min.css" rel="stylesheet" />
        <link href="~/node_modules/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
        <link href="~/node_modules/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />

        <link href="~/css/app.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">

    </environment>
</head>
<body data-ma-theme="teal">
    <main class="main">
        <div class="page-loader">
            <div class="page-loader__spinner">
                <svg viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>

        <!-- Header -->
        @await Html.PartialAsync("_Header")

        <!-- Sidebar -->
        @await Html.PartialAsync("_Sidebar")

        <section class="content">
            <div class="">
                @RenderBody()
            </div>            
        </section>
    </main>

    <environment include="Development">
        <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/node_modules/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="~/node_modules/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="~/node_modules/moment/min/moment.min.js"></script>
        <script src="~/node_modules/fullcalendar/dist/fullcalendar.min.js"></script>

        <script src="~/js/app.min.js"></script>
    </environment>
    <environment exclude="Development">

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
