<aside class="sidebar">
    <div class="scrollbar-inner">
        <div class="user">
            <div class="user__info" data-toggle="dropdown">
                <img src="~/img/quorra.jpg" class="user__img" alt="Quorra"/>
                <div>
                    <div class="user__name">Quorra</div>
                    <div class="user__email">&#64;QuorraAIBot</div>
                </div>
            </div>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="">View Profile</a>
                <a class="dropdown-item" href="">Settings</a>
                <a class="dropdown-item" href="">Logout</a>
            </div>
        </div> 

        <ul class="navigation">
            <li><a href="#"><i class="zmdi zmdi-home"></i> Menu Item 1</a></li>
            <li><a href="#"><i class="zmdi zmdi-comments"></i> Menu Item 2</a></li>
            <li><a href="#"><i class="zmdi zmdi-view-dashboard"></i> Menu Item 3</a></li>
        </ul>
    </div>
</aside>